/** @format */
.header {
	width: 100%;
	text-align: center;
}
.navlink {
	float: none;
	display: inline-block;
	margin: 20px;
}
.navlink a {
	text-decoration: none;
	margin: 20px;
	color: black;
	border-radius: 8px;
	padding: 10px 15px;
	box-shadow: rgba(50, 50, 93, 0.103) 0px 50px 100px -20px,
		rgba(0, 0, 0, 0.061) 0px 30px 60px -30px,
		rgba(10, 37, 64, 0.236) 0px -2px 6px 0px inset;
}
.navlink a:hover {
	background: rgba(235, 230, 230, 0.357);
}
